:root {
    /* declare a variable with `--` syntax */
    --pomegranite: #c0392b;
    --midnight: #2c3e50;
    --clouds: #ecf0f1;
    --turquoise: #1abc9c;
  }


.header-style {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--pomegranite);
    border: 10px solid var(--turquoise);
    border-radius: 10px;
}

h1, h2 {
    padding: 5px;
    border-radius: 5px;
    background-color: blanchedalmond;
}

.content-card {
    width: 90%;
    min-height: 200px;
    text-align: center;
    background-color: var(--midnight);
    margin: 15px 0px;
    padding-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

button {
    display:block;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
}

header button {
    margin-left: inherit;
    margin-right: inherit;
}

table {
    margin-left: auto;
    margin-right: auto;
}